@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
}
.Quiz{
    display: none;
    
}
.modalQuiz{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.5);
    
}

.Quiz.mostrar{
    display: flex;
    
}
@keyframes modalQuiz {
    from {
        opacity: 0;
        transform: translate3d(0, 0px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    }
.mostrar .modalQuiz{
        animation: modalQuiz .3s;
    }
.Quiz .modalQuiz .container{
    width: 55vw;
    height: 60vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border: solid 8px #000000;
    border-bottom: #000000 solid 15px;
    border-top: #000000 solid 15px;
    position: relative;
    
}

.fechar{
    position: absolute;
    top: -80px;
    right: -80px;
    width: 40px;
    height: 40px;
    border-radius: 25%;
    background-color: black;
    color: white;
    border: white solid 1px;
    cursor: pointer;
}
.voltar{
    height: 60vh;

}
.botaoVoltar {
    height: 58vh;
    width: 2vw;
    background-color: #000000;
    border: none;
    cursor: pointer;
}
.avancar{
    height: 58vh;
    width: 2vw;
    background-color: #000000;
    border: none; 
}

.containerMenor {
    width: 50vw;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.resposta{
    width: 27vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.boxin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    
    
}
.boxin :hover{
    background-color: #fff500;
    
}
.box{
    width: 4vw;
    height: 4vh;
    cursor: pointer;
}
.simbolo{
    color: white;
    font-size: 25px;
}
.botaozaozao{
    width: 27vw;
    height: 22vh;
    border-radius: 4%;
    background-color: #fff500;
    border: #000000 solid 2px ;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.containerResult{
    width: 40vw;
    height: 60vh;
    background-color: white;
    display: flex;
    justify-content: center;
    border: solid 5px black;
    border-radius: 4%;
    position: relative;
    align-items: center;
    flex-direction: column;

}
.containerdescc{
    width: 21vw;
    background-color: #fbe77b;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4%;

}
.descResults{
    font-family: 'roboto' sans-serif;
    font: 500;
    font-size: 18px;
}

.navegar{
    display: flex;
    font-family: 'roboto',sans-serif;
    font-size: 35px;
    font-weight: bold;
    width: 27vw;
    justify-content: space-around;
    margin-top: 5%;
}
.navegar :hover{
    background-color: #fff500
}
.voltarr{
    cursor: pointer;
    border-radius: 10%;
        
}
.avancarr{
    cursor: pointer;        
}
.imgResultsEstima{
    
    width:21vw;
    height: 27vh;
    background-image: url(assets/ResultsEstima.jpeg);
    background-size: cover;
}
.imgResultsSono{
    
    width:21vw;
    height: 27vh;
    background-image: url(assets/ResultsSono.webp);
    background-size: cover;
}
.imgResultsCosta{
    
    width:21vw;
    height: 27vh;
    background-image: url(assets/ResultsCostas.webp);
    background-size: cover;
}
.imgResultsEstresse{
    
    width:21vw;
    height: 27vh;
    background-image: url(assets/ResultsEstresse.jpg);
    background-size: cover;
}
.imgResultsConcentracao{
    
    width:21vw;
    height: 27vh;
    background-image: url(assets/ResultsConcentracao.jpg);
    background-size: cover;
}
.imgResultsPratica{
    
    width:21vw;
    height: 27vh;
    background-image: url(assets/Ajuda.webp);
    background-size: cover;
}
.imgResultsGrafico{
    
    width:21vw;
    height: 27vh;
    background-image: url(assets/imgGrafiquin.webp);
    background-size: cover;
}

.descimgResults{
    
    
    font-family: 'roboto', sans-serif;
    font-size: 11px;
    font-style: bold;
    font-weight: 700;


}.containerResultado{
    width: 60vw;
    height: 80vh;
    background-color: white;
    display: flex;
    justify-content: center;
    border: solid 5px black;
    border-radius: 4%;
    position: relative;
    align-items: center;
    flex-direction: column;

}

.chart-container{
    margin-top: 5%;
    border: solid 2px black;
    
}
