@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
}
.Quiz{
    display: none;
    
}
.modalQuiz{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.5);
    
}

.Quiz.mostrar{
    display: flex;
    
}
@keyframes modalQuiz {
    from {
        opacity: 0;
        transform: translate3d(0, 0px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    }
.mostrar .modalQuiz{
        animation: modalQuiz .3s;
    }
.Quiz .modalQuiz .container{
    width: 55vw;
    height: 60vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border: solid 8px #fff500;
    border-bottom: #fff500 solid 15px;
    border-top: #fff500 solid 15px;
    position: relative;
    
}
.fechar{
    position: absolute;
    top: -100px;
    right: -100px;
    width: 40px;
    height: 40px;
    border-radius: 25%;
    background-color: black;
    color: white;
    border: white solid 1px;
}
.voltar{
    height: 60vh;

}
.botaoVoltar {
    height: 58vh;
    width: 2vw;
    background-color: #fff500;
    border: none;
    cursor: pointer;
}
.avancar{
    height: 60vh;
}

.botaoAvancar {
    height: 58vh;
    width: 2vw;
    background-color: #fff500;
    border: none;
    cursor: pointer;
    
}

.containerMenor {
    width: 50vw;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.resposta{
    width: 27vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.boxin{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box{
    width: 4vw;
    height: 4vh;
    cursor: pointer;
}

