@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
}
.navbar{
    position: fixed;
}
.navbar .container{
    width: 100vw;
    height: 13vh;
    margin: auto;
    background-color: #fff500;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.container .slogan{
    margin-left: 10%;
    font-family: 'roboto', sans-serif;
    font-size: 34px;
    font-style: bold;
    font-weight: 600;
}
.container .navegacao{
    display: flex;
    margin-right: 10%;
    align-items: center;
}
.container .navegacao span{
    font-family: 'roboto', sans-serif;
    font-size: 28px;
    font-style: bold;
    font-weight: 500;
    padding: 0vw 2vw 0 0;
}
.container .navegacao .login{
    font-family: 'roboto', sans-serif;
    font-size: 32px;
    font-style: bold;
    font-weight: 600;
}
.banner .container{
    width: 100vw;
    height: 100vh;
    background-image: url(assets/banner\ fundo.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.significado .container{
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
    width: 80vw;
    
}
.significado .container .imagens{
    padding-top: 1%;
    width: 80vw;
    display: flex;
    padding-bottom: 10%;

}
.significado .container .imagens .imagem1{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 25vw;
}

.imagem1-1{
    background-image: url(assets/img-atividade-fisica.webp);
    background-position: 80%;
    background-size: cover;
    width: 22vw;
    height: 30vh;
    border: solid 2px black;
    border-radius: 2%;
}

.imagem1-2{
    background-image: url(assets/autoestima-fundo.jpg);
    background-position: 80%;
    background-size: cover;
    width: 22vw;
    height: 30vh;
    border: solid 2px black;
    border-radius: 2%;
}
.imagem1-3{
    background-image: url(assets/estilo-de-vida-imagem.jpg);
    background-position: 80%;
    background-size: cover;
    width: 22vw;
    height: 30vh;
    border: solid 2px black;
    border-radius: 2%;
}
.significado .container .imagens .imagem2{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 25vw;
}
.significado .container .imagens .imagem3{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 25vw;
}
.escrita{
    
    font-family: 'roboto', sans-serif;
    font-size: 33px;
    font-style: bold;
    font-weight: 900;
}

.etudoisso .container{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 90vh;
    margin: auto;
}
.etudoisso .container .titulo{
    width: 80vw;
    display: flex;
    justify-content: center;
}
.containerConteudo{
    height: 85vh;
    width: 80vw;
    display: flex;
    justify-content: space-between;
}
.containerConteudo .containerEscrita{
    margin-top: 3%;
    width: 35vw;
    height: 85vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.atvFisica{
    margin-top: 4%;
    width: 30vw;
    height: 27vh;
}
.autoestima{
    margin-top: 4%;
    width: 30vw;
    height: 27vh;
}
.estiloVida{
    margin-top: 4%;
    width: 30vw;
    height: 27vh;
}
.descri{
    font-family: 'roboto', sans-serif;
    font-size: 25px;
    font-style: bold;
    font-weight: 700;
}
.containerimg{
    width: 35vw;
    height: 85vh;
    margin-top: 3%;
}
.imgtudoisso{
    background-image: url(assets/tudoissoimg.webp);
    background-position: 10%;
    width: 35vw;
    height: 85vh;
    background-size: cover;
    border: solid 2px black;
    border-radius: 2%;
}

.beneficios .container{
    padding-top: 25vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 90vh;
    margin: auto;
}
.beneficios .container .titulo{
    width: 80vw;
    justify-content: center;
    display: flex;
}
.imagensBeneficios{
    margin-top: 5%;
    width: 80vw;
    height: 90vh;
}
.imagensBeneficios .imagensCima{
    
    width: 70vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 40vh;
    margin-bottom: 6%;
}
.imagensBeneficios .imagensCima .imgCima1{
    
    width: 21vw;
    height: 39vh;

}
.imagensBeneficios .imagensCima .imgCima2{

    width: 21vw;
    height: 39vh;
}
.imagensBeneficios .imagensCima .imgCima3{
 
    width: 21vw;
    height: 39vh;
}
.imagensBeneficios .imagensBaixo{
    
    width: 46vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 39vh;
}
.imagensBeneficios .imagensBaixo .imgBaixo1{
    width: 21vw;
    height: 39vh;
    
}
.imagensBeneficios .imagensBaixo .imgBaixo2{
    width: 21vw;
    height: 39vh;

}

.imgReal1{
    
    width:21vw;
    height: 27vh;
    background-image: url(assets/qualidadedosonoimg.webp);
    background-size: cover;
}
.imgReal2{
    
    width:21vw;
    height: 27vh;
    background-image: url(assets/diabestesimg.jpg);
    background-size: cover;
}
.imgReal3{
    
    width:21vw;
    height: 27vh;
    background-image: url(assets/vidasexualimg.webp);
    background-size: cover;
}
.imgReal4{

    width:21vw;
    height: 27vh;
    background-image: url(assets/cardiovascularimg.jpg);
    background-size: cover;
}
.imgReal5{

    width:21vw;
    height: 27vh;
    background-image: url(assets/depressaoimg.jpg);
    background-position: 70%;
    background-size: cover;
}
.escritaimg{
    background-color: #fff500;
    display: flex;
    justify-content: center;
    font-family: 'roboto', sans-serif;
    font-size: 21px;
    font-style: bold;
    font-weight: 700;
}
.escritaimgg{
    background-color: #fff500;
    display: flex;
    justify-content: center;
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    font-style: bold;
    font-weight: 700;
}
.descimg{
    
    
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    font-style: bold;
    font-weight: 700;

}
.containerdesc{
    width: 21vw;
    background-color: #fbe77b;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4%;

}
.beneficiosMentais .container{
    margin: auto;
    margin-top: 27%;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 90vh;
}
.beneficiosMentais .container .titulo{

    width: 80vw;
    justify-content: center;
    display: flex;
}
.beneficiosMentais .container .containerTudo{
    padding-left: 5%;
    margin-top: 5%;
    width: 80vw;
    height: 90vh;
    display: flex;
    
}
.beneficiosMentais .container .containerTudo .containerLetras{
    width: 38vw;
    height: 83vh;
    
}
.beneficiosMentais .container .containerTudo .containerLetras .ben1{
    width: 38vw;
    height: 16vh;
    
}
.beneficiosMentais .container .containerTudo .containerLetras .ben2{
    width: 38vw;
    margin-top: 2%;
    height: 16vh;
    
}
.beneficiosMentais .container .containerTudo .containerLetras .ben3{
    width: 36vw;
    margin-top: 2%;
    height: 16vh;
    
}
.beneficiosMentais .container .containerTudo .containerLetras .ben4{
    width: 37vw;
    margin-top: 2%;
    height: 16vh;
    
}
.beneficiosMentais .container .containerTudo .containerLetras .ben5{
    width: 37vw;
    margin-top: 2%;
    height: 16vh;
    
}
.escritaa{
    background-color: #fff500;
    font-family: 'roboto', sans-serif;
    font-size: 25px;
    font-style: bold;
    font-weight: 900;
}
.leg{
    font-family: 'roboto', sans-serif;
    font-size: 17px;
    font-weight: 700;
}
.containerFoto{
    width: 40vw;
    height: 83vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.fotoReal{
    width: 35vw;
    height: 65vh;
    border: solid 2px black;
    border-radius: 3%;
    background-image: url(assets/imgmentais.webp);
    background-position: 70% center;
    background-size: cover;
}
.relatosPessoais .container{
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 90vh;
}
.relatosPessoais .container .titulo{
    width: 80vw;
    justify-content: center;
    display: flex;
}
.relatosPessoais .container .containerTudao{
    
    margin-top: 5%;
    width: 80vw;
    height: 90vh;
    display: flex;
    
}
.relato1{
    display: flex;
    align-items: center;
    margin: auto;
    width: 58vw;
    height: 25vh;
    
}
.relato2{
    display: flex;
    align-items: center;
    margin: auto;
    width: 58vw;
    height: 25vh;
    
}
.relato3{
    display: flex;
    align-items: center;
    margin: auto;
    width: 58vw;
    height: 25vh;
    
}
.imggg{
    border: solid 2px black;
    width: 10vw;
    height: 19vh;
    border-radius: 50%;
    background-image: url(assets/RELATO-ste.jpg);
    background-position: center center;
    background-size: cover;
}
.imggg2{
    border: solid 2px black;
    width: 10vw;
    height: 19vh;
    border-radius: 50%;
    background-image: url(assets/RELATO-andres.jpg);
    background-position: center center;
    background-size: cover;
}
.imggg3{
    border: solid 2px black;
    width: 10vw;
    height: 19vh;
    border-radius: 50%;
    background-image: url(assets/RELATO-mãe.jpg);
    background-position: center center;
    background-size: cover;
}


.relatoLeg{
    font-family: 'roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
}
.tudaoescrito{
    width: 58vw;
    height: 75vh;
    
}
.imgss{
    width: 30vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.relatoCriador .container {
    margin: auto;
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 90vh;
}
.relatoCriador .container .titulo{
    width: 80vw;
    justify-content: center;
    display: flex;
}
.containertudin{
    margin-top: 4%;
    width: 80vw;
    height: 90vh;
}
.escritao{
    margin: auto;
    width: 70vw;
    height: 53vh;
}
.escrii{
    font-family: 'roboto', sans-serif;
    font-size: 27px;
    font-weight: 500;
}
.imgeu{
    margin-right: 6%;
    float: right;
    width: 27vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.eureal{
    float: right;
    width: 22vw;
    height: 35vh;
    border: solid 2px black;
    border-radius: 3%;
    background-image: url(assets/relato-eu2.jpg);
    background-position: 0 85%;
    background-size: cover;
}
.euescrito{
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.quiz .container{
    margin: auto;
    margin-top: 7%;
    width: 80vw;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.quiz .container .botaozao{
    width: 27vw;
    height: 22vh;
    margin: 10%;
    border-radius: 4%;
    background-color: #fff500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.palavrona{
    font-family: 'roboto', sans-serif;
    font-size: 70px;
    font-weight: 700;
}
.footer .container{
    width: 100vw;
    height: 15vh;
    background-color: #fff500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo2{
    width: 80vw;
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
